import React from 'react'
import styles from './{{pascalCase name}}.module.css'

const {{pascalCase name}} = ({}) => {
  return (
    <div className={styles.{{pascalCase name~}} }>
      {{pascalCase name}}
    </div>
  )
}

export default {{pascalCase name}}
